#navbar .logo {
  float: none;
  text-align: center;
}
#navbar ul,
#navbar ul li {
  float: none;
  text-align: center;
}
#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}
.leftPart {
  display: none;
  float: none;
}
.rightPart {
  float: none;
  width: 100%;
}
.box {
  float: none;
  width: 100%;
  text-align: center;
}
#aboutInfo .leftside,
#aboutInfo .rightside {
  float: none;
  width: 100%;
}
.heading {
  text-align: center;
}
.contac .box {
  background: grey;
}
